@media screen and (max-width: 900px){
    .main {
        padding-top: 0px;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}