body {
    font-family: "Montserrat";
    font-style: normal
}



.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-image: url(../img/3testbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    -webkit-background-image: url(../img/3testbg.jpg);
    -webkit-background-repeat: no-repeat;
    -webkit-background-size: cover;
    -webkit-background-attachment: fixed;
}




.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto
}

.container__slider {
    max-width: 1200px
}

.overlay {
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, .7215686275);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.overlay--show {
    visibility: visible;
    opacity: 1
}

.burger {
    display: none
}

@media (max-width:850px) {
    .burger {
        display: block;
        position: fixed;
        top: 5%;
        right: 5%;
        z-index: 100
    }

    .burger::before {
        content: "";
        width: 40px;
        height: 4px;
        background-color: #FFF;
        display: block;
        border-radius: 4px
    }

    .burger::after {
        content: "";
        width: 40px;
        height: 4px;
        background-color: #FFF;
        display: block;
        border-radius: 4px
    }

    .burger span {
        margin: 5px 0;
        width: 40px;
        height: 4px;
        background-color: #FFF;
        display: block;
        border-radius: 4px
    }
}

.header {
    z-index: 100
}

.header__nav {
    margin-left: 10px;
    position: fixed;
    top: 0%;
    right: 0%;
    background-color: #163953;
    background-size: cover;
    border-bottom: 4px solid #BF9F31;
    border-radius: 0 0 0 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 100
}

@media (max-width:850px) {
    .header__nav {
        width: 200px;
        height: 100%;
        z-index: 50;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        border-bottom: none;
        border-radius: 20px 0 0 20px;
        border-left: 4px solid #BF9F31
    }
}

@media (max-width:400px) {
    .header__nav {
        width: 100%
    }
}

.header__nav--open {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateX(0%);
    transform: translateX(0%)
}

.header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width:850px) {
    .header__nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%
    }
}

.header__nav-item {
    margin-right: 40px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.header__nav-item:hover {
    text-shadow: 3px 3px 9px #FFF;
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
}

@media (max-width:850px) {
    .header__nav-item {
        margin: 20px 0
    }
}

.header__nav-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFF;
    padding: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.header__nav-link:hover {
    text-shadow: 3px 3px 9px #FFF;
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
}

@media (max-width:850px) {
    .header__nav-link {
        padding: 20px
    }
}

.header__nav-link--language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.hero {
    padding-bottom: 50px
}

.hero__logo {
    padding-top: 20px;
    max-width: 253px;
    max-height: 162px
}

.hero__logo img {
    width: 100%;
    height: 100%
}

@media (max-width:460px) {
    .hero__logo {
        max-width: 175px
    }
}

.hero__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -100px
}

@media (max-width:460px) {
    .hero__inner {
        margin-top: -60px
    }
}

@media (max-width:376px) {
    .hero__inner {
        margin-top: 0
    }
}

.hero__btnbox-download {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    background-image: url(../img/down.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 10px
}

@media (max-width:460px) {
    .hero__btnbox-download {
        font-size: 29px
    }
}

.hero__btnbox-apple {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    background-image: url(../img/btn.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.hero__btnbox-apple:hover {
    text-shadow: 3px 3px 9px #FFF;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

@media (max-width:460px) {
    .hero__btnbox-apple {
        font-size: 18px
    }
}

.hero__btnbox-android {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    background-image: url(../img/btn.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.hero__btnbox-android:hover {
    text-shadow: 3px 3px 9px #FFF;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

@media (max-width:460px) {
    .hero__btnbox-android {
        font-size: 18px
    }
}

.hero__img {
    max-width: 407px;
    max-height: 823px
}

.hero__img img {
    width: 100%
}

.socials {
    z-index: 5;
    position: fixed;
    bottom: 0%;
    left: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #163953;
    border-top: 4px solid #BF9F31;
    border-radius: 20px 20px 0 0;
    padding: 10px 50px
}

@media (max-width:2000px) {
    .socials {
        left: 38%
    }
}

@media (max-width:1500px) {
    .socials {
        left: 32%
    }
}

@media (max-width:1100px) {
    .socials {
        left: 27%
    }
}

@media (max-width:950px) {
    .socials {
        left: 23%
    }
}

@media (max-width:950px) {
    .socials {
        left: 18%
    }
}

@media (max-width:850px) {
    .socials {
        left: 0%;
        padding: 10px;
        width: 100%;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
}

.socials__twitter {
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.socials__twitter:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

@media (max-width:850px) {
    .socials__twitter {
        padding: 10px
    }
}

.socials__discord {
    margin: 0 120px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.socials__discord:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

@media (max-width:850px) {
    .socials__discord {
        margin: 0%;
        padding: 10px
    }
}

.socials__telegram {
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.socials__telegram:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

@media (max-width:850px) {
    .socials__telegram {
        padding: 10px
    }
}

.gameplay {
    padding-top: 50px;
    padding-bottom: 50px
}

.gameplay__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    color: #DFFFFF
}

@media (max-width:425px) {
    .gameplay__title {
        font-size: 35px
    }
}

.gameplay__img {
    max-width: 1234px;
    max-height: 854px
}

.gameplay__img img {
    width: 100%
}

.nft {
    padding-top: 50px;
    padding-bottom: 50px
}

.nft__inner {
    position: relative
}

.nft__title {
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    color: #DFFFFF
}

.nft__slider {
    max-width: 1200px
}

.nft__slider-item {
    border: 4px solid #2867D5;
    border-radius: 2px;
    padding: 30px;
    margin: 20px
}

.nft__slider-image {
    max-width: 350px;
    max-height: 370px
}

@media (max-width:710px) {
    .nft__slider-image {
        max-width: 100%;
        max-height: 100%
    }
}

.nft__slider-image img {
    width: 100%
}

.nft__slider-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 30px
}

.nft__slider-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFF
}

.nft__slider-wallet {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFF
}

.nft__arrow-left {
    position: absolute;
    top: 50%;
    left: -5%;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.nft__arrow-left:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
}

.nft__arrow-right {
    position: absolute;
    top: 50%;
    right: -5%;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.nft__arrow-right:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
}

.nft__dots .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.nft__dots li {
    margin: 10px;
    border-radius: 50%
}

.nft__dots .slick-active {
    width: 15px;
    height: 15px;
    background-color: #77FBF9;
    border-radius: 50%
}

.nft__dots button {
    font-size: 0;
    background-color: transparent;
    width: 11px;
    height: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.nft__dots button:hover {
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    background-color: #77FBF9;
    border-radius: 50%
}

.nft__dots button::before {
    content: "";
    width: 11px;
    height: 11px;
    background-color: rgba(119, 251, 249, .6);
    border-radius: 50%
}

.team {
    padding-top: 50px;
    padding-bottom: 50px
}

.team__inner {
    position: relative
}

.team__title {
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    color: #DFFFFF
}

.team__slider-item {
    padding: 30px 20px 10px 20px;
    border: 4px solid #2867D5;
    border-radius: 3px;
    margin: 20px;
    text-align: center
}

.team__slider-img {
    max-width: 373px;
    max-height: 407px;
    margin-bottom: 20px
}

@media (max-width:710px) {
    .team__slider-img {
        max-width: 100%;
        max-height: 100%
    }
}

.team__slider-img img {
    width: 100%
}

.team__slider-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
    margin-bottom: 5px
}

.team__slider-profi {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 10px
}

.team__slider-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFF;
    margin-bottom: 20px
}

.team__slider-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px
}

.team__slider-socials-twitter {
    margin-top: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.team__slider-socials-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.team__arrow-left {
    position: absolute;
    top: 50%;
    left: -5%;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.team__arrow-left:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
}

.team__arrow-right {
    position: absolute;
    top: 50%;
    right: -5%;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.team__arrow-right:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
}

.team__dots .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.team__dots li {
    margin: 10px;
    border-radius: 50%
}

.team__dots .slick-active {
    width: 15px;
    height: 15px;
    background-color: #77FBF9;
    border-radius: 50%
}

.team__dots button {
    font-size: 0;
    background-color: transparent;
    width: 11px;
    height: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.team__dots button:hover {
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    background-color: #77FBF9;
    border-radius: 50%
}

.team__dots button::before {
    content: "";
    width: 11px;
    height: 11px;
    background-color: rgba(119, 251, 249, .6);
    border-radius: 50%
}

.roadmap {
    padding-top: 50px;
    padding-bottom: 50px
}

.roadmap ul {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFF
}

@media (max-width:550px) {
    .roadmap ul {
        font-size: 19px
    }
}

.roadmap li {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFF
}

@media (max-width:550px) {
    .roadmap li {
        font-size: 14px
    }
}

.roadmap__title {
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    color: #DFFFFF;
    margin-bottom: 40px
}

@media (max-width:390px) {
    .roadmap__title {
        font-size: 50px
    }
}

.roadmap__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width:787px) {
    .roadmap__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.roadmap__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px
}

@media (max-width:768px) {
    .roadmap__item {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start
    }
}

.roadmap__img {
    margin-right: 20px
}

.roadmap__img img {
    width: 100%
}

.roadmap__img--yellow {
    margin: -100px
}

@media (max-width:787px) {
    .roadmap__img--yellow {
        margin: -100px -100px -100px -130px
    }
}

.roadmap__item--four {
    margin-left: 120px
}

@media (max-width:1100px) {
    .roadmap__item--four {
        margin-left: 100px
    }
}

@media (max-width:950px) {
    .roadmap__item--four {
        margin-left: 0
    }
}

.roadmap__item--one {
    margin-left: 240px
}

@media (max-width:1100px) {
    .roadmap__item--one {
        margin-left: 200px
    }
}

@media (max-width:950px) {
    .roadmap__item--one {
        margin-left: 0
    }
}

.roadmap__item--two {
    margin-left: 120px
}

@media (max-width:1100px) {
    .roadmap__item--two {
        margin-left: 100px
    }
}

@media (max-width:950px) {
    .roadmap__item--two {
        margin-left: 0
    }
}

.roadmap__item--last {
    margin-left: 240px
}

@media (max-width:1100px) {
    .roadmap__item--last {
        margin-left: 200px
    }
}

@media (max-width:950px) {
    .roadmap__item--last {
        margin-left: 0
    }
}

.footer {
    padding-top: 50px;
    padding-bottom: 100px
}

.footer__inner {
    border-top: 1px solid #BDBDBD;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media (max-width:1100px) {
    .footer__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.footer__logo {
    max-width: 198px;
    max-height: 126px
}

.footer__logo img {
    width: 100%
}

@media (max-width:1100px) {
    .footer__nav {
        margin-top: 20px;
        margin-bottom: 20px
    }
}

.footer__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px
}

@media (max-width:786px) {
    .footer__nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media (max-width:786px) {
    .footer__nav-item {
        padding: 20px
    }
}

.footer__nav-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFF;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.footer__nav-link:hover {
    text-shadow: 3px 3px 9px #FFF;
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
}

@media (max-width:786px) {
    .footer__nav-link {
        padding: 20px
    }
}

.footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px
}

.footer__socials-twitter {
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.footer__socials-twitter:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
}

.footer__socials-discord {
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.footer__socials-discord:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
}

.footer__socials-telegram {
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.footer__socials-telegram:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
}