.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/webp.net-compress-image-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -100px;
}
.header__inner {
  padding-top: 7%;
  padding-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  background-color: rgba(0, 0, 0, 0.57);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: white;
  padding: 30px;
  border-radius: 70px;
}
.header__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -40px;
  z-index: 10;
}

.main {
  background-image: url(../images/bg_page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main__activites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 5%;
}

.activites__inner {
  margin-bottom: 50px;
}
.activites__title {
  margin-bottom: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  color: white;
}
.activites__title .orange {
  color: #c8fa8b;
}
.activites__title .blue {
  color: #64edff;
}
.activites__text {
  margin-bottom: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  color: #fff;
}

.footer {
  position: relative;
  background-color: #f0f0f0;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  background: url(../images/bg_footer.png) 0 0 repeat-x;
  height: 12px;
  top: -12px;
}
.footer__inner {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__mail {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}
.footer__email {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}
.footer__email:hover {
  text-decoration: underline;
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__item svg {
  margin-right: 10px;
}
.footer__item-info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}
.footer__item-info:hover {
  text-decoration: underline;
}
.footer__item-faq {
  margin-left: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}
.footer__item-faq:hover {
  text-decoration: underline;
}
.footer__item-contact {
  margin-left: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}
.footer__item-contact:hover {
  text-decoration: underline;
}