body {
    font-family: 'Montserrat';
    font-style: normal;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

.container__slider {
    max-width: 1200px;
}

.overlay {
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    background-color: #000000b8;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.overlay--show {
    visibility: visible;
    opacity: 1;
}


.burger {
    display: none;

    @media (max-width: 850px) {
        display: block;
        position: fixed;
        top: 5%;
        right: 5%;
        z-index: 100;


        &::before {
            content: "";
            width: 40px;
            height: 4px;
            background-color: #FFFFFF;
            display: block;
            border-radius: 4px;
        }

        &::after {
            content: "";
            width: 40px;
            height: 4px;
            background-color: #FFFFFF;
            display: block;
            border-radius: 4px;
        }

        span {
            margin: 5px 0;
            width: 40px;
            height: 4px;
            background-color: #FFFFFF;
            display: block;
            border-radius: 4px;
        }
    }
}



// ==== header ==== 

.header {
    z-index: 100;


    // .header__nav

    &__nav {
        margin-left: 10px;
        position: fixed;
        top: 0%;
        right: 0%;
        background-color: #163953;
        background-size: cover;
        border-bottom: 4px solid #BF9F31;
        border-radius: 0px 0px 0px 20px;
        transition: all .3s;
        z-index: 100;

        @media (max-width: 850px) {
            // display: none;
            width: 200px;
            height: 100%;
            z-index: 50;
            transform: translateX(100%);
            border-bottom: none;
            border-radius: 20px 0px 0px 20px;
            border-left: 4px solid #BF9F31;
        }

        @media (max-width: 400px) {
            width: 100%;
        }
    }

    &__nav--open {
        transition: all .3s;
        transform: translateX(0%);
    }

    // .header__nav-list

    &__nav-list {
        display: flex;
        align-items: center;


        @media (max-width: 850px) {
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }
    }

    // .header__nav-item

    &__nav-item {
        margin-right: 40px;
        transition: all .3s;

        &:hover {
            text-shadow: 3px 3px 9px #FFFFFF;
            transform: scale(1.15);
        }

        @media (max-width: 850px) {
            margin: 20px 0;
        }
    }

    // .header__nav-link

    &__nav-link {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        padding: 10px;
        transition: all .3s;

        &:hover {
            text-shadow: 3px 3px 9px #FFFFFF;
            transform: scale(1.15);
        }

        @media (max-width: 850px) {
            padding: 20px;
        }
    }

    // .header__nav-link--language

    &__nav-link--language {
        display: flex;
        align-items: center;
    }

    // .header__nav-link--language--icon

    &__nav-link--language--icon {}

    // .header__nav-link--language--text

    &__nav-link--language--text {}
}



// ==== hero ====


.hero {
    background-image: url(../img/main.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding-bottom: 50px;



    // .hero__logo

    &__logo {
        padding-top: 20px;
        max-width: 253px;
        max-height: 162px;

        img {
            width: 100%;
            height: 100%;
        }

        @media (max-width: 460px) {
            max-width: 175px;
        }
    }

    // .hero__inner

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100px;

        @media (max-width: 460px) {
            margin-top: -60px;
        }

        @media (max-width: 376px) {
            margin-top: 0px;
        }
    }

    // .hero__btnbox

    &__btnbox {}

    // .hero__btnbox-download

    &__btnbox-download {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background-image: url(../img/down.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 25px;
        padding-bottom: 10px;

        @media (max-width: 460px) {
            font-size: 29px;
        }
    }

    // .hero__btnbox-apple

    &__btnbox-apple {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        align-items: center;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background-image: url(../img/btn.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 25px;
        padding-bottom: 10px;
        transition: all .3s;

        &:hover {
            text-shadow: 3px 3px 9px #FFFFFF;
            transform: scale(1.10);
        }

        @media (max-width: 460px) {
            font-size: 18px;
        }
    }

    // .hero__btnbox-apple-icon

    &__btnbox-apple-icon {}

    // .hero__btnbox-apple-text

    &__btnbox-apple-text {}

    // .hero__btnbox-android

    &__btnbox-android {
        column-gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background-image: url(../img/btn.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 25px;
        padding-bottom: 10px;
        transition: all .3s;

        &:hover {
            text-shadow: 3px 3px 9px #FFFFFF;
            transform: scale(1.10);
        }

        @media (max-width: 460px) {
            font-size: 18px;
        }
    }

    // .hero__btnbox-androin-icon

    &__btnbox-androin-icon {}

    // .hero__btnbox-androin-text

    &__btnbox-androin-text {}

    // .hero__img

    &__img {
        max-width: 407px;
        max-height: 823px;

        img {
            width: 100%;
        }
    }
}


// ==== socials ====

.socials {
    z-index: 5;
    position: fixed;
    bottom: 0%;
    left: 30%;
    display: flex;
    background-color: #163953;
    border-top: 4px solid #BF9F31;
    border-radius: 20px 20px 0px 0px;
    padding: 10px 100px;
    @media (max-width: 1100px){
          left: 25%;
    }
    @media (max-width: 950px){
          left: 23%;
    }
    @media (max-width: 950px){
          left: 18%;
    }

    @media (max-width: 850px) {
        left: 0%;
        padding: 10px;
        width: 100%;
        justify-content: space-around;
    }

    // .socials__twitter

    &__twitter {
        transition: all .3s;

        &:hover {
            transform: scale(1.10);
        }

        @media (max-width: 850px) {
            padding: 10px;
        }
    }

    // .socials__discord

    &__discord {

        margin: 0 120px;
        transition: all .3s;

        &:hover {
            transform: scale(1.10);
        }

        @media (max-width: 850px) {
            margin: 0%;
            padding: 10px;
        }
    }

    // .socials__telegram

    &__telegram {
        transition: all .3s;

        &:hover {
            transform: scale(1.10);
        }

        @media (max-width: 850px) {
            padding: 10px;
        }
    }
}

// ==== gameplay ====

.gameplay {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../img/twobg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    &__element {
        margin-top: -160px;
    }

    &__inner {}

    // .gameplay__title

    &__title {
        font-weight: 700;
        font-size: 70px;
        line-height: 85px;
        text-align: center;
        color: #DFFFFF;

        @media (max-width: 425px) {
            font-size: 35px;
        }
    }

    // .gameplay__img

    &__img {
        max-width: 1234px;
        max-height: 854px;

        img {
            width: 100%;
        }
    }
}


// ==== nft ====

.nft {

    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../img/threebg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;


    //nft__element

    &__element {
        margin-top: -165px;
    }

    //nft__inner 

    &__inner {
        position: relative;
    }


    // .nft__title


    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 70px;
        color: #DFFFFF;
    }

    // .nft__slider

    &__slider {
        max-width: 1200px;
    }

    // .nft__slider-item

    &__slider-item {
        border: 4px solid #2867D5;
        border-radius: 2px;
        padding: 30px;
        margin: 20px;
    }

    // .nft__slider-image

    &__slider-image {
        max-width: 350px;
        max-height: 370px;

        @media (max-width: 710px) {
            max-width: 100%;
            max-height: 100%;
        }

        img {
            width: 100%;
        }
    }

    // .nft__slider-desc

    &__slider-desc {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    // .nft__slider-name

    &__slider-name {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;

    }

    // .nft__slider-wallet

    &__slider-wallet {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }

    // .nft__arrow

    &__arrow {}

    // .nft__arrow-left

    &__arrow-left {
        position: absolute;
        top: 50%;
        left: -5%;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            transform: scale(1.15);
        }
    }

    // .nft__arrow-right

    &__arrow-right {
        position: absolute;
        top: 50%;
        right: -5%;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            transform: scale(1.15);
        }
    }

    // .nft__dots

    &__dots {}
}

.nft__dots .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nft__dots li {
    margin: 10px;
    border-radius: 50%
}

.nft__dots .slick-active {
    width: 15px;
    height: 15px;
    background-color: #77FBF9;
    border-radius: 50%;
}

.nft__dots button {
    font-size: 0;
    background-color: transparent;
    width: 11px;
    height: 11px;
    display: flex;
    align-items: center;
}

.nft__dots button:hover {
    transform: scale(1.12);
    background-color: #77FBF9;
    border-radius: 50%;
}

.nft__dots button::before {
    content: "";
    width: 11px;
    height: 11px;
    background-color: rgba(119, 251, 249, 0.6);
    border-radius: 50%;
}


// ==== team ====

.team {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../img/fourbg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    // .team__element

    &__element {
        margin-top: -155px;
    }

    // .team__inner

    &__inner {
        position: relative;
    }

    // .team__title

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 70px;
        line-height: 85px;
        color: #DFFFFF;
    }

    // .team__slider

    &__slider {}

    // .team__slider-item

    &__slider-item {
        padding: 30px 20px 10px 20px;
        border: 4px solid #2867D5;
        border-radius: 3px;
        margin: 20px;
        text-align: center;
    }

    // .team__slider-img

    &__slider-img {
        max-width: 373px;
        max-height: 407px;
        margin-bottom: 20px;

        @media (max-width: 710px) {
            max-width: 100%;
            max-height: 100%;
        }

        img {
            width: 100%;
        }
    }

    // .team__slider-name

    &__slider-name {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 5px;
    }

    // .team__slider-profi

    &__slider-profi {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 10px;
    }

    // .team__slider-desc

    &__slider-desc {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    // .team__slider-socials

    &__slider-socials {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
    }

    // .team__slider-socials-twitter

    &__slider-socials-twitter {
        margin-top: 3px;
        display: flex;
        align-items: center;
    }

    // .team__slider-socials-in

    &__slider-socials-in {
        display: flex;
        align-items: center;
    }

    // .team__arrow

    &__arrow {}

    // .team__arrow-left

    &__arrow-left {
        position: absolute;
        top: 50%;
        left: -5%;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            transform: scale(1.15);
        }
    }

    // .team__arrow-right

    &__arrow-right {
        position: absolute;
        top: 50%;
        right: -5%;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            transform: scale(1.15);
        }
    }

    // .team__dots

    &__dots {}
}

.team__dots .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team__dots li {
    margin: 10px;
    border-radius: 50%
}

.team__dots .slick-active {
    width: 15px;
    height: 15px;
    background-color: #77FBF9;
    border-radius: 50%;
}

.team__dots button {
    font-size: 0;
    background-color: transparent;
    width: 11px;
    height: 11px;
    display: flex;
    align-items: center;
}

.team__dots button:hover {
    transform: scale(1.12);
    background-color: #77FBF9;
    border-radius: 50%;
}

.team__dots button::before {
    content: "";
    width: 11px;
    height: 11px;
    background-color: rgba(119, 251, 249, 0.6);
    border-radius: 50%;
}


// ==== roadmap ====

.roadmap {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../img/fivebg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    &__element {
        margin-top: -155px;
    }

    ul {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;

        @media (max-width: 550px) {
            font-size: 19px;
        }
    }

    li {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;

        @media (max-width: 550px) {
            font-size: 14px;
        }
    }

    // .roadmap__title

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 70px;
        line-height: 85px;
        color: #DFFFFF;
        margin-bottom: 40px;

        @media (max-width: 390px) {
            font-size: 50px;
        }
    }

    // .roadmap__inner

    &__inner {
        display: flex;
        align-items: center;

        @media (max-width: 787px) {
            flex-direction: column;
            justify-content: center;
        }
    }

    // .roadmap__left

    &__left {}

    // .roadmap__item

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        @media (max-width: 768px) {
            justify-content: start;
        }
    }

    // .roadmap__img

    &__img {
        margin-right: 20px;

        img {
            width: 100%;
        }
    }

    &__img--yellow {
        margin: -100px;

        @media (max-width: 787px) {
            margin: -100px -100px -100px -130px;
        }
    }

    // .roadmap__text

    &__text {}

    // .roadmap__right

    &__right {}
}

.roadmap__item--four {
    margin-left: 120px;

    @media (max-width: 1100px) {
        margin-left: 100px;
    }

    @media (max-width: 950px) {
        margin-left: 0px;
    }
}

.roadmap__item--one {
    margin-left: 240px;

    @media (max-width: 1100px) {
        margin-left: 200px;
    }

    @media (max-width: 950px) {
        margin-left: 0px;
    }
}

.roadmap__item--two {
    margin-left: 120px;

    @media (max-width: 1100px) {
        margin-left: 100px;
    }

    @media (max-width: 950px) {
        margin-left: 0px;
    }
}

.roadmap__item--last {
    margin-left: 240px;

    @media (max-width: 1100px) {
        margin-left: 200px;
    }

    @media (max-width: 950px) {
        margin-left: 0px;
    }
}


// ==== footer ==== 

.footer {
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(../img/footer.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    &__element {
        margin-top: -150px;
    }

    // .footer__inner

    &__inner {
        border-top: 1px solid #BDBDBD ;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1100px){
              flex-direction: column;
            
        }
    }

    // .footer__logo

    &__logo {
        max-width: 198px;
        max-height: 126px;

        img {
            width: 100%;
        }
    }

    // .footer__nav

    &__nav {
        @media (max-width: 1100px){
            margin-top: 20px;
            margin-bottom: 20px;   
      }
    }

    // .footer__nav-list

    &__nav-list {
        display: flex;
        column-gap: 50px;
        @media (max-width: 786px){
              flex-direction: column;
        }
    }

    // .footer__nav-item

    &__nav-item {
        @media (max-width: 786px){
            padding: 20px;
      }
    }

    // .footer__nav-link

    &__nav-link {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        transition: all .3s;

        &:hover {
            text-shadow: 3px 3px 9px #FFFFFF;
            transform: scale(1.15);
        }

        @media (max-width: 786px){
            padding: 20px;
      }
    }

    // .footer__socials

    &__socials {
        display: flex;
        column-gap: 20px;

    }

    // .footer__socials-twitter

    &__socials-twitter {
        transition: all .3s;

        &:hover {
            transform: scale(1.15);
        }
    }

    // .footer__socials-discord

    &__socials-discord {
        transition: all .3s;

        &:hover {
            transform: scale(1.15);
        }
    }

    // .footer__socials-telegram

    &__socials-telegram {
        transition: all .3s;

        &:hover {
            transform: scale(1.15);
        }
    }
}