canvas {
    background-color: #1d8511;
    border: 5px solid black;
}

body {
    background-image: url("../img/пре-посы-ка-зе-еной-змейки-безшовная-84872327.webp");
    background-repeat: repeat;
    background-size: 300px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.info {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.score {
    margin: 0 20px;
    font-size: 40px;
}

.button {
    padding: 20px;
    background-color: blue;
    color: white;
    outline: 1px solid black;
    cursor: pointer;
}

.button:hover {
    outline: 5px solid black;
}

.button--red {
    background-color: #b40404;
}