@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: local("Montserrat"),
  url("dist/fonts/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: local("Montserrat"),
  url("dist/fonts/Montserrat-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Panton";
  src: local("Panton"),
  url("dist/fonts/Panton-ExtraBold.ttf") format("ttf");
}